<title>ToDoApp</title>
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="https://play-lh.googleusercontent.com/HUuQc4Zpl6x7fUyX-jFMmcuUbW77REw4UKl5rfhHfP4VY6ctBU1w1I_RZWsXaojFgIo"
/>
<div class="header">
  <p>Are you sure you want to delete "{{item}}"?</p>
</div>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<style>
  body {
    background-color: #638cb8;
  }

  .header {
    position: relative;
    color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    padding: 20px 10px;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  .floated {
    float: center;
  }
  .cancel-button {
    color: fff;
    text-decoration: none;
    background-color: transparent;
  }
</style>

<div class="header">
  <form action="">
    <a class="btn btn-danger" href="{% url 'list' %}">Cancel</a>
  </form>

  <form method="POST" action="">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" name="Confirm" />
  </form>
</div>
